<%- include('partials/head') %>

<body>
    <%- include('partials/navBar') %>
    <div class="container">
        <h1>All the Horses</h1>
        <ul>
            <% for(let horse of horses) { %>
                <li><%= horse.horseName %> - <%= horse.breed %></li>
                <% } %>
            </ul>
    </div>
<script src="/js/script.js"></script>
</body>
</html>