<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="app.css">
    <title>Not Found</title>
</head>
<body>
    <h1>404 - Not Found</h1>
    <p>The subreddit <b><%= subreddit%></b> you are searching for does not exist.</p>
</body>
</html>