<%- include('partials/head') %>
<body>
    <%- include('partials/navBar') %>
    <h1>Your random nuber is: <%=rand%></h1>
    <% if(rand % 2 === 0) { %>
        <h2>That is an even number!</h2>
    <% } else { %>
        <h2>That is an odd number!</h2>
    <% } %>
    <h3><%= rand%2===0 ? "par" : "impar" %></h3>
    <script src="/js/script.js"></script>
</body>
</html>