html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: roboto, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.comment {
  margin: 7px;
  padding: 10px;
  width: 200px;
  background-color: rgb(65, 63, 63);
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
}

.comment:hover {
  background-color: #585858;
}

.comment a {
  color: #3295f8;
  text-decoration: underline;
}

.comments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.form input {
  margin: 5px;
  padding: 5px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #000;
}

.form textarea {
  margin: 5px;
  padding: 5px;
  width: 300px;
  height: 70px;
  border-radius: 5px;
  border: none;
  border: 1px solid #000;
}

.form button {
  margin: 5px;
  padding: 5px;
  width: 300px;
  border-radius: 5px;
  border: none;
  background-color: rgb(65, 63, 63);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.form button:hover {
  background-color: #585858;
}

.findid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.findid input {
  margin: 5px;
  padding: 5px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #000;
}

.findid button {
  margin: 5px;
  padding: 5px;
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color: rgb(65, 63, 63);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.findid button:hover {
  background-color: #585858;
}

.comment-show {
  margin: 7px;
  padding: 10px;
  width: 200px;
  background-color: rgb(65, 63, 63);
  color: #fff;
  border-radius: 5px;
}

.opcoes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.opcoes button {
  margin: 5px;
  padding: 5px;
  width: 90px;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.edit button {
  background-color: #3295f8;
  color: #fff;
}

.edit button:hover {
  background-color: #1e6ab0;
}

.delete button {
  background-color: #f83232;
  color: #fff;
}

.delete button:hover {
  background-color: #b01e1e;
}

.voltar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.7rem;
  color: #000000;
  margin: 10px;
  transition: 0.3s ease-in-out;
}

.voltar img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  
}

.voltar:hover {
  transform: scale(1.1);
}