html,
body {
    font-family: roboto, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  padding: 16px;
  background-color: rgb(65, 63, 63);
  color: #fff;
  transition: background-color 1s ease-in-out;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input {
    padding: 8px;
    margin: 0 8px;
    border-radius: 4px;
    border: none;
    background-color: #ffffff2d;
    color: #ffffff;
  }
  
  input::placeholder {
    color: #ffffff;
  }
  
  button {
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: #ffffff2d;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ffffff4d;
  }