<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.css">
  <title>Document</title>
</head>
<body>
  <h1>Comment ID: <%= comment.id %></h1>
  <div class="comment">
    <h3><%= comment.username %></h3>
    <p><%= comment.comment %></p>
  </div>
  <a href="/comments">Back</a>
</body>
</html>